<!DOCTYPE html>
<html>
  <head>
    <title>BulkImport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2 class="text-center my-5">府中産農産物直売所一覧</h2>
    </header>
    <hr>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
